SECRET_KEY="FWWcyKsnJUxp47KgBQJ6bxZvCkioWcb4txRn3FRQgZBbGqppUauev9FELtK9dBi9sVy4x67cn"
DEBUG="True"
REDIS_INSTANCE="redis://<IP>:<PORT>"
ALLOWED_HOSTS="*"
CACHE_TIMEOUT=86400
CELERY_TIMEZONE="Asia/Kolkata"
SALESFORCE_INSTANCE="salesforce_instance"
SALESFORCE_CLIENT_ID="client_id"
SALESFORCE_SECRET="secret"
SALESFORCE_USERNAME="salesforce_username"
SALESFORCE_PASSWORD="salesforce_password"
GOOGLE_SERVICE_ACCOUNT="mail-service_account"
PRIVATE_KEY="private_key_file.json"
DBNAME="database name"
DBUSER="database user"
DBPASS="database password"
DBHOST="database host"
DBPORT="database port"
