{% extends "registration/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- DISPLAYING MESSAGES-->

<div class="container-fluid">
    <div class="container" style="padding:32px 0">
        <div class="card" style="padding-bottom:64px">
            <div class="row">
                <div class="col-12">
                    <div class="row" style="padding:32px 32px 18px 32px">
                        <div class="col-3">
                            <img src="{% static 'images/TNS-Labs-Logo-v2.png' %}" alt="TNS-Logo" />
                        </div>
                        <div class="col-9" style="text-align: left;">
                            <p style="color:#000000; font-weight:900; font-size:24px; margin-bottom: 0px;">PIMA - User Accounts</p>
                            <!-- <p style="color:#3a3a3a; font-weight:400; font-size:12px; margin-bottom: 8px;">Interactive dashboard that uses Salesforce data to map Technoserve extension service data such as farm visits, training sessions, training observations, and beneficiaries' farms, to allow real-time monitoring across regions</p>
                            <p style="color:#3a3a3a; font-weight:400; font-size:12px; margin-bottom: 0rem;"><b>Note:</b> <i>Synced every one hour</i></p> -->
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="row" style="text-align: left; padding-top: 32px; padding-left: 32px;">
                    <!-- LIST USERS -->
                    
                    
                    <div class="row" style="margin-top: 16px;">
                        <div class="col-2">
                            <a class="btn btn-primary" style="font-weight:400; font-size:16px; margin-bottom: 8px;" href="{% url 'create_user' %}" class="text-decoration-none">Add User</a>
                        </div>
                        <div class="col-8">
                        </div>
                        <div class="col-2">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-4">
                            {% for message in messages %}
                                <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="True">&times;</span>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-3">
                            <P><b>Email</b></P>
                        </div>
                        <div class="col-3">
                            <p><b>Staff User (BA)</b></p>
                        </div>
                        <div class="col-3">
                            <p><b>Admin</b></p>
                        </div>

                        {% for user in users %}
                            <div class="row">
                                <div class="col-3"><span>{{user.email}}</span></div>
                                <div class="col-3"><span>{{user.is_staff}}</span></div>
                                <div class="col-3"><span>{{user.is_superuser}}</span></div>
                                <div class="col-3">
                                    <span>
                                        <a href="#" style="color:green;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16"><path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/></svg>
                                        </a>
                                        &nbsp;&nbsp;
                                        <a href="{% url 'delete_user' user.id %}" style="color:red;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16"><path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/></svg>
                                        </a> 
                                        
                                    </span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}