{% extends "registration/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- DISPLAYING MESSAGES-->

<div class="container-fluid">
    <div class="container" style="padding:32px 0">
        <!-- <div class="card"> -->
            <div class="row">
                <div class="col-12">
                    <div class="row" style="padding:32px 32px 18px 32px">
                        <div class="col-3">
                            <img src="{% static 'images/TNS-Labs-Logo-v2.png' %}" alt="TNS-Logo" />
                        </div>
                        <div class="col-9" style="text-align: left;">
                            <p style="color:#000000; font-weight:900; font-size:24px; margin-bottom: 0px;">PIMA - User Accounts</p>
                            <!-- <p style="color:#3a3a3a; font-weight:400; font-size:12px; margin-bottom: 8px;">Interactive dashboard that uses Salesforce data to map Technoserve extension service data such as farm visits, training sessions, training observations, and beneficiaries' farms, to allow real-time monitoring across regions</p>
                            <p style="color:#3a3a3a; font-weight:400; font-size:12px; margin-bottom: 0rem;"><b>Note:</b> <i>Synced every one hour</i></p> -->
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="row" style="text-align: left; padding-top: 32px; padding-left: 32px;">
                    <!-- LIST USERS -->
                    <a style="font-weight:400; font-size:48px; margin-bottom: 8px;" href="{% url 'create_user' %}" class="">Add User</a>
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}

                    <div class="row">
                        <div class="col-3">
                            <P><b>Email</b></P>
                        </div>
                        <div class="col-3">
                            <p><b>Business Advisor</b></p>
                        </div>
                        <div class="col-3">
                            <p><b>Admin</b></p>
                        </div>

                        {% for user in users %}
                            <div class="row">
                                <div class="col-3"><span>{{user.email}}</span></div>
                                <div class="col-3"><span>{{user.is_staff}}</span></div>
                                <div class="col-3"><span>{{user.is_superuser}}</span></div>
                                <div class="col-3"><span><a href="#">Delete</a></span></div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
        <!-- </div> -->
    </div>
</div>




{% endblock %}